<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    executionOrder="random"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Entity</directory>
            <file>src/Kernel.php</file>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DATABASE_URL" value="postgresql://app:!ChangeMe!@database:5432/app?serverVersion=17&amp;sslmode=disable&amp;charset=utf8" force="true"/>
        <!-- Default off; set XDEBUG_MODE=coverage in env to collect coverage -->
        <env name="XDEBUG_MODE" value="off"/>
    </php>
</phpunit>
